    * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }

    :focus {outline: none; }

    input, .input-textarea, select, button {font-size: 15px;color: #666; }

    ul {padding: 0;margin: 0;list-style: none; }

    a {text-decoration: none; }

    select {-moz-appearance: none;-webkit-appearance: none;cursor: pointer;border: none; }

    select option[value=""][disabled] {display: none; }

    .wrapper {max-width: 1400px;height: 100vh;margin: auto;display: flex;align-items: center;background-color: #f3f3f3; }

    .wrapper form {width: 60%;margin: auto; }

    .wizard > .steps .current-info, .wizard > .steps .number {display: none; }

    #wizard {min-height: 650px;background: #fff;margin-right: 60px;padding: 107px 75px 65px; }

    .steps {margin-bottom: 30px; }
    .steps ul {display: flex;position: relative; }
    .steps ul li {width: 20.16%;margin-right: 10px; }
    .steps ul li a {display: inline-block;width: 100%;height: 7px;background: #e6e6e6;border-radius: 3.5px; }
    .steps ul li.first a, .steps ul li.checked a {background: linear-gradient(to left, #fb8d6c, #ff6aa7);transition: all 0.5s ease; }
    .steps ul:before {content: "Name";font-size: 22px;color: #333;top: -38px;position: absolute; }
    .steps ul.step-2:before {content: "Experience Level"; }
    .steps ul.step-3:before {content: "Reason For Investing"; }
    .steps ul.step-4:before {content: "Investment Sources"; }
    .steps ul.step-5:before {content: "Investing Timeline"; }
    .steps ul.step-6:before {content: "Investment Goals"; }
    .steps ul.step-7:before {content: "Investing Timelength"; }
    .steps ul.step-8:before {content: "Accreditation Status"; }
    .steps ul.step-9:before {content: "Net Worth"; }
    .steps ul.step-10:before {content: "Address"; }
    .steps ul.step-11:before {content: "Phone Number"; }
    .steps ul.step-12:before {content: "Phone Verification"; }
    .steps ul.step-13:before {content: "Date Of Birth"; }
    .steps ul.step-14:before {content: "Social Security Number"; }
    .steps ul.step-15:before {content: "Form Final"; }

    .form-row {margin-bottom: 24px; }
    .form-row label {margin-bottom: 8px;display: block; }
    .form-row.form-group {display: flex; }
    .form-row.form-group .form-holder {width: 50%;margin-right: 21px; }
    .form-row.form-group .form-holder:last-child {margin-right: 0; }
    .form-row h3{font-size: 24px; font-weight: bold;}

    .form-holder {position: relative; }
    .form-holder i {position: absolute;top: 11px;right: 19px;font-size: 17px;color: #999; }

    .form-control {height: 42px;border: 1px solid #e6e6e6;background: none;width: 100%;padding: 0 18px; }
    .form-control:focus {border-color: #002d4e; }
    .form-control::-webkit-input-placeholder {color: #999;font-size: 13px; }
    .form-control::-moz-placeholder {color: #999;font-size: 13px; }
    .form-control:-ms-input-placeholder {color: #999;font-size: 13px; }
    .form-control:-moz-placeholder {color: #999;font-size: 13px; }

    .input-textarea {padding-top: 11px;padding-bottom: 11px;resize: vertical;min-height: 50px!important;}

    .option {color: #999; }

    .actions ul {display: flex;margin-top: 30px;justify-content: space-between; }
    .actions ul.step-last {justify-content: flex-end; }
    .actions ul.step-last li:first-child {display: none; }
    .actions li a {padding: 0;border: none;display: inline-flex;height: 51px;width: 135px;align-items: center;background: linear-gradient(to left, #fb8d6c, #ff6aa7);border-radius: 50px;cursor: pointer;position: relative;padding-left: 41px;color: #fff;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);-webkit-transition-duration: 0.3s;transition-duration: 0.3s;font-weight: 400; }
    .actions li a:before {content: '\f2ee';position: absolute;top: 19px;right: 41px;font-family: Material-Design-Iconic-Font;-webkit-transform: translateZ(0);transform: translateZ(0); }
    /* .actions li a:hover {background: #034678; } */
    .actions li a:hover:before {-webkit-animation-name: hvr-icon-wobble-horizontal;animation-name: hvr-icon-wobble-horizontal;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-timing-function: ease-in-out;animation-timing-function: ease-in-out;-webkit-animation-iteration-count: 1;animation-iteration-count: 1; }
    .actions li[aria-disabled="true"] a {display: none; }
    .actions li:first-child a {background: #e6e6e6;padding-left: 48px; }
    .actions li:first-child a:before {content: '\f2ea';left: 26px; }
    .actions li:first-child a:hover {background: #ccc; }
    /* .actions li:last-child a {padding-left: 29px;width: 167px;font-weight: 400; } */
    .actions li:last-child a:before {right: 30px; }

    .input-radio, .input-checkbox {display: flex;align-items: baseline;}

    @-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {-webkit-transform: translateX(6px);transform: translateX(6px); }
    33.3% {-webkit-transform: translateX(-5px);transform: translateX(-5px); }
    49.95% {-webkit-transform: translateX(4px);transform: translateX(4px); }
    66.6% {-webkit-transform: translateX(-2px);transform: translateX(-2px); }
    83.25% {-webkit-transform: translateX(1px);transform: translateX(1px); }
    100% {-webkit-transform: translateX(0);transform: translateX(0); } 
    }
    @keyframes hvr-icon-wobble-horizontal {
    16.65% {-webkit-transform: translateX(6px);transform: translateX(6px); }
    33.3% {-webkit-transform: translateX(-5px);transform: translateX(-5px); }
    49.95% {-webkit-transform: translateX(4px);transform: translateX(4px); }
    66.6% {-webkit-transform: translateX(-2px);transform: translateX(-2px); }
    83.25% {-webkit-transform: translateX(1px);transform: translateX(1px); }
    100% {-webkit-transform: translateX(0);transform: translateX(0); } 
    }
    @media (max-width: 1500px) {
    .wrapper {height: auto; } 
    }
    @media (max-width: 1199px) {
    .wrapper {height: 100vh; }
    }
    @media (max-width: 991px) {
    .wrapper {justify-content: center; }
    .wrapper .image-holder {display: none; }
    .wrapper form {width: 60%; }
    #wizard {margin-right: 0;padding-left: 40px;padding-right: 40px; }
    }
    @media (max-width: 767px) {
    .wrapper {height: auto;display: block; }
    .wrapper .image-holder {width: 100%;display: block; }
    .wrapper form {width: 100%; }

    #wizard {padding: 70px 20px 40px; }

    .form-row.form-group {display: block; }
    .form-row.form-group .form-holder {width: 100%;margin-right: 0;margin-bottom: 24px; }
    }